


.big-ben-img,
.neuen-zollhof-img {
    height: 300px;
    width: 300px;
    object-fit: contain;
}


.glass-exterior-video {
    width: 300px;
}

.tabular-data, td, th{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 7px;
}